<section class="about">
    <div class="aboutInfo">
        <h3>About me</h3>
        <p>
            I am a full stack software developer, with experience in creating applications using technologies such as Java, Spring Boot, PostgreSQL, MySQL, Javascript, Typescript and Angular. I currently work at Grupo FCamara, a consultancy and digital solutions company, where I develop projects for clients from different segments.
            <br/>My goal is to develop robust and scalable applications. I am passionate about development and technology, always looking for new challenges and improving my knowledge. I perform well in dynamic environments and work well in teams.
        </p>
    </div>
</section>
