* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Dancing Script", cursive;
}

:root {
    --primary-bg: #120d24;
    --primary-font: #FAFAFA;
    --primary-gradient: #020024, #200838, #502677;
    --primary-button: #200838;
}

body {
    width: 100%;
    background-image: url('./assets/images/background.svg');
    background-position: center;
    background-size: cover;
}
